*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html, body{
    height: 100%;
    width: 100%;
    
}

#minicircle{
    transition:all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;
}

#main{
    width: 100%;
    background-color: black;
    /* we don't want to give the height because it depends on the content of the website */
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
}

#nav{
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

#nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#heading{
    margin-top: 70px;
    width: 100%;
}

.bonding{
    width: fit-content;
    overflow: hidden;
}

.boundingelem{
    transform: translateY(100%);
}

#heading h1{
    line-height: 1em;
    margin-left: 30px;
    text-transform: uppercase;
    opacity: 0.7;
    /* vw is responsive unit of for the font size */
    font-size: 10vw; 
    font-weight: 900;
}

#heading .secondh1{
    margin-left: 100px;
}

#heading .blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}


#heading .blocktext h5{
    text-transform: uppercase;
    font-size: 17px;
}

#chhotiheadings{
    margin-top: 100px;
    padding-right: 50px;    
    display: flex;
    flex-direction: column;
    align-items: end;
}



#chhotiheadings h5{
    line-height: 2em;
    text-align: right;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-top: 0.5vw;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#herofooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#herofooter #iconset{
    margin-right: 10px;
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    color: black;
    background-color: #888;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second{
    padding-right: 5vw;
    padding-top: 180px;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#second .elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #888;
    text-transform: uppercase;
    padding: 3vw 0vw;
    padding-left: 2vw;
}

#second .elem:last-of-type{
    border-bottom: 1px solid #888;
}

#second h1{
    opacity: 0.7;
    font-size: 8vw;
    letter-spacing: 0.7vw;
}

#second .elem img{
    opacity: 0;
    height: 120%;
    z-index: 999;
    position: absolute;
}

#about{
    margin-top: 10vw;
    padding-left: 30vw;
    padding-bottom: 10vw;
    padding-top: 10vw;
    padding-right: 10vw;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

#about #textabout h3{
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#about #textabout p{
    line-height: 1.7em;
    margin-bottom: 30px;
}

#about img{
    height: 200px;
    width: 200px;
}

#textabout a{
    text-decoration: none;
    color: white;
    border: 1px #888 solid;
    padding: 8px 15px;
    border-radius: 100px;
    font-size: 12px;
}

#textabout a:hover{
    background-color: white;
    color: black;
}

#textabout{
    width: 25rem;
}

#subscribe{
    padding: 20px 30px;
    background-color: black;
    color: white;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    display: inline;
}

#footer{
    padding: 5vw 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
}

#footerright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
}

#footer a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}